@model IEnumerable<ecommerece.Models.Seller>

@{
    ViewData["Title"] = "Index";
    var List = ViewBag.List;
}

<h1>Index</h1>

<div class="d-flex justify-content-center">
    <h4>
        All
        <span id="viewCounter" class="badge bg-info ">
            @List
        </span>
    </h4>
</div>

<p class="d-flex justify-content-end">
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                Name
            </th>
            <th>
                Mobile No
            </th>
            <th>
                Email
            </th>
            <th>
                Address
            </th>
            <th>
                Company Name
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.WebsiteUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellerCnic)
            </th>*@
            <th>
                City
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ShortDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LongDesc)
            </th>*@
            <th>
                Gender
            </th>
            <th>
                Date of Birth
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.SystemUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaritalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetaData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeoData)
            </th>*@
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    <img src="@item.SellerImg" alt="" class="img-thumbnail" style="max-height: 100px" />
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.WebsiteUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerCnic)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ShortDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongDesc)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.SellerGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerDob)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.SystemUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaritalStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetaData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeoData)
            </td>*@
            
            <td class="text-nowrap">
                <a asp-action="Edit" asp-route-id="@item.SellerId" class="btn btn-primary btn-sm">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SellerId" class="btn btn-info btn-sm">Details</a> |
                    @*<a asp-action="Delete" asp-route-id="@item.SellerId" class="btn btn-danger btn-sm">Delete</a>*@
                    <button class="delete-btn btn btn-danger" data-seller-id=@item.SellerId>Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function(){
            // ajax json function started here for deleting while styaing on page
            $('.delete-btn').click(function () {
                var seller_id = $(this).data('seller-id');
                var row = $(this).parent().parent();
                





                $.ajax({
                    url: '/Sellers/DeleteBtnSeller',
                    type: 'post',
                    data: {
                        id: seller_id
                    },
                    success: function (response) {
                        row.fadeOut(1500);
                    },
                    failure: function (response) {
                        alert(response.d);
                    },
                });
            });
        });
    </script>
}
