@model ecommerece.Models.Product

@{
    ViewData["Title"] = "Details";
}
<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col-12">
                @{
                    string[] AllImages = Model.ProductImg.Split(",");
                }
                @if (string.IsNullOrEmpty(AllImages[0]))
                {

                }
                else
                {
                
                <img src="@AllImages[0]" class="img img-fluid largeImg" style="max-height : 500px;" />
                }
                    
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                @for (int i = 0; i < AllImages.Length; i++)
                {
                    <img src="@AllImages[i]" class="img img-thumbnail smallImg" style="max-height : 50px;" />
                }
            </div>
        </div>
        
        
    </div>
<div class="col-6">
        <h1>Details</h1>

        <div>
            <h4>Product</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProductName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProductName)
                </dd>
                @*<dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.SellerId)
                </dt>
                <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.SellerId)
                </dd>*@
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DeliveryDays)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DeliveryDays)
                </dd>
                @*<dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CatId)
                </dt>
                <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CatId)
                </dd>*@
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Quantity)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Quantity)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ShortDecsc)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ShortDecsc)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.LongDesc)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LongDesc)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProductPrice)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProductPrice)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DeliveryCharges)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DeliveryCharges)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Status)
                </dd>
                @*<dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.MetaData)
                </dt>
                <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.MetaData)
                </dd>
                <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.SeoData)
                </dt>
                <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.SeoData)
                </dd>
                <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedBy)
                </dt>
                <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CreatedBy)
                </dd>
                <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedDate)
                </dt>
                <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CreatedDate)
                </dd>
                <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ModifiedBy)
                </dt>
                <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ModifiedBy)
                </dd>
                <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ModifiedDate)
                </dt>
                <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ModifiedDate)
                </dd>*@
                
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
</div>
</div>

@section Scripts{
    <script>

        $(function () {
            $(".smallImg").click(function () {

                var clickedImage = $(this);
                //alert(clickedImage.attr("src"));

                $(".largeImg").attr("src", clickedImage.attr("src"));
            });
        });
    </script>
}


