@model IEnumerable<ecommerece.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    
        <a asp-action="Create" class="btn btn-success">Create New</a>
    
    
</p>
<table id="producttable" class="table ">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                Name
            </th>
            <th>
                Category
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                About
            </th>
            @*<th>
                Description
            </th>*@
            <th>
                Price
            </th>
            <th>
                Delivery Days
            </th>
            <th>
                Delivery Charges
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @{
                        var separated = item.ProductImg.Split(",");
                    }
                    @if (string.IsNullOrEmpty(separated[0]))
                    {

                    }
                    else
                    {
                        <img src="@separated[0]" class="img img-thumbnail" style="max-height : 100px;" />
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatId)
                @*@{
                        var Categories = ViewBag.Categories;
                }
                <select asp-for="CatId" class="form-label" disabled>
                        @foreach (Category P in Categories)
                    {
                        <option value="@P.CatId">@P.CatName</option>
                    }
                    </select>*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDecsc)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.LongDesc)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryDays)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryCharges)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-dark btn-sm">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-sm btn-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


@section Scripts{
        <script>
            $(document).ready(function () {
                $('#producttable').DataTable();
            });
        </script>
}
