@model ecommerece.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-6">
        <img src="@Model.CustImg" class="rounded" />
    </div>
    <div class="col-6">
        <h1>Details</h1>

        <div>
            <h4>Customer</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    <strong>Name</strong>
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CustName)
                </dd>
                <dt class="col-sm-2">
                    <strong>Mobile No</strong>
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CustPhone)
                </dd>
                <dt class="col-sm-2">
                    <strong>Email</strong>
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CustEmail)
                </dd>
                <dt class="col-sm-2">
                    <strong>Address</strong>
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CustAddress)
                </dd>
                <dt class="col-sm-2">
                    <strong>City</strong>
                </dt>
                <dd class="col-sm-10">
                    <select class="form-label" asp-for="CustCity" disabled>
                        <option value="">---Select your City---</option>
                        <option value="1">Sialkot</option>
                        <option value="2">Lahore</option>
                        <option value="3">Islamabad</option>
                        <option value="4">Karachi</option>
                    </select>
                </dd>
                <dt class="col-sm-2">
                    <strong>Date of Birth</strong>
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CustDob)
                </dd>
                @*<dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.SystemUserId)
                </dt>
                <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.SystemUserId)
                </dd>*@
                <dt class="col-sm-2">
                    <strong>Gender</strong>
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CustGender)
                </dd>
                @*<dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CustStatus)
                </dt>
                <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CustStatus)
                </dd>
                <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.MetaData)
                </dt>
                <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.MetaData)
                </dd>
                <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedBy)
                </dt>
                <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CreatedBy)
                </dd>
                <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedDate)
                </dt>
                <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CreatedDate)
                </dd>
                <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ModifiedBy)
                </dt>
                <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ModifiedBy)
                </dd>
                <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ModifiedDate)
                </dt>
                <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ModifiedDate)
                </dd>*@
                
                
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.CustId">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>



